<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioFolders</key>
	<array>
		<string>Gênesis</string>
		<string>Exodo</string>
		<string>Levítico</string>
		<string>Números</string>
		<string>Deuterenómio</string>
		<string>Josué</string>
		<string>Juízes</string>
		<string>Rute</string>
		<string>I Samuel</string>
		<string>II Samuel</string>
		<string>I Reis</string>
		<string>II Reis</string>
		<string>I Crónicas</string>
		<string>II Crónicas</string>
		<string>Esdras</string>
		<string>Neemias</string>
		<string>Ester</string>
		<string>Jó</string>
		<string>Salmos</string>
		<string>Provérbios</string>
		<string>Eclesiastes</string>
		<string>Cantares de Salomão</string>
		<string>Isaías</string>
		<string>Jeremias</string>
		<string>Lamentações</string>
		<string>Ezequiel</string>
		<string>Daniel</string>
		<string>Oseias</string>
		<string>Joel</string>
		<string>Amós</string>
		<string>Obadias</string>
		<string>Jonas</string>
		<string>Miqueias</string>
		<string>Naum</string>
		<string>Habacuque</string>
		<string>Sofonias</string>
		<string>Ageu</string>
		<string>Zacarias</string>
		<string>Malaquias</string>
		<string>Mateus</string>
		<string>Marcos</string>
		<string>Lucas</string>
		<string>João</string>
		<string>Actos</string>
		<string>Romanos</string>
		<string>I Coríntios</string>
		<string>II Coríntios</string>
		<string>Gálatas</string>
		<string>Efésios</string>
		<string>Filipenses</string>
		<string>Colossenses</string>
		<string>I Tessalonicenses</string>
		<string>II Tessalonicenses</string>
		<string>I Timóteo</string>
		<string>II Timóteo</string>
		<string>Tito</string>
		<string>Filemon</string>
		<string>Hebreus</string>
		<string>Tiago</string>
		<string>I Pedro</string>
		<string>II Pedro</string>
		<string>I João</string>
		<string>II João</string>
		<string>III João</string>
		<string>Judas</string>
		<string>Apocalipse</string>
	</array>
</dict>
</plist>
